<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
      </ion-buttons>
    <ion-title>chat</ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)="isHour()" >
        <!-- href="https://docs.google.com/forms/d/e/1FAIpQLScs6ZJL99KIovADR0PQ-joYpmapPi3xsceZBgaiVvglUFUv3w/viewform" target="_blank" rel="noopener noreferrer" -->
        <ion-icon slot="icon-only" color='danger' name="warning"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- 
  PAGINA DE CHAT DE MAMAPP
 -->
<ion-content padding>

  <!-- <p class="proximamente"> Proximamente....</p> -->
    <div *ngIf="conversacion">
        <ion-row *ngFor="let mensaje of conversacion.messages">
          <ion-col size="8"  *ngIf="currentUser === mensaje.user" class="message other-message">
            <b class="nombreCoach">{{mensaje.user}}</b> <br>
            <span>{{mensaje.content}}</span>
            <div class="time" class="ion-text-right">
              {{mensaje.date.toDate() | date:'short'}}
            </div> 
          </ion-col>  

          <ion-col offset="4" size="8"   *ngIf="mensaje.user !== currentUser " class="message my-message">
            <b class="nombreUsuario">Tú</b> <br>
            <span>{{mensaje.content}}</span>
            <div class="time" class="ion-text-right">
              {{mensaje.date.toDate() | date:'short'}}
            </div> 
          </ion-col>  
        </ion-row >
        
        <!-- <ion-row *ngFor="let mensaje of conversacion.messages" >
          </ion-row >  -->

      </div>
      <!-- <button (click)="requestPermission()">
        Enable notifications!
      </button>


      <button (click)="deleteToken()">
        Delete my token plz
      </button>

      <ion-button (click)="listen()">
        Get notified!
      </ion-button> -->

      <ion-infinite-scroll threshold="100px" position="bottom" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
   

</ion-content>

<ion-footer class="ion-padding">
  <ion-item>
    <ion-textarea [(ngModel)]="msg" autosize class="message-input" value="ingresa tu mensaje">
    </ion-textarea>
    <ion-button expand="block" fill="clear" color="primary" class="msg-btn" (click)="sendMessage()" dissabled = dissabled>
        <!-- <ion-button expand="block" fill="clear" color="primary" class="msg-btn" > -->
      <ion-icon name="send" ></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>