<h3>Controles de Embarazo</h3>
<p class="textoControlesParrafo">En aviva te recomendamos tener estos controles, conoce que debería suceder y que preguntarle a tu ginecólogo</p>   
<ion-content>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>1er control</mat-panel-title>
                <mat-panel-description>texto de apoyo primer control</mat-panel-description>
            </mat-expansion-panel-header>
            <p>contenido del expandable</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>2do control</mat-panel-title>
                <mat-panel-description>texto de apoyo segundo control</mat-panel-description>
            </mat-expansion-panel-header>
            <p>contenido del expandable</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>3er control</mat-panel-title>
                <mat-panel-description>texto de apoyo tercer control</mat-panel-description>
            </mat-expansion-panel-header>
            <p>contenido del expandable</p>
            <p>contenido del expandable</p>
            <p>contenido del expandable</p>
            <p>contenido del expandable</p>
            <p>contenido del expandable</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>4to control</mat-panel-title>
                <mat-panel-description>texto de apoyo cuarto control</mat-panel-description>
            </mat-expansion-panel-header>
            <p>contenido del expandable</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>5to control</mat-panel-title>
                <mat-panel-description>texto de apoyo quinto control</mat-panel-description>
            </mat-expansion-panel-header>
            <p>contenido del expandable</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>6to control</mat-panel-title>
                <mat-panel-description>texto de apoyo sexto control</mat-panel-description>
            </mat-expansion-panel-header>
            <p>contenido del expandable</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>7mo control</mat-panel-title>
                <mat-panel-description>texto de apoyo setimo control</mat-panel-description>
            </mat-expansion-panel-header>
            <p>contenido del expandable</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>8vo control</mat-panel-title>
                <mat-panel-description>texto de apoyo octavo control</mat-panel-description>
            </mat-expansion-panel-header>
            <p>contenido del expandable</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>9no control</mat-panel-title>
                <mat-panel-description>texto de apoyo noveno control</mat-panel-description>
            </mat-expansion-panel-header>
            <p>contenido del expandable</p>
        </mat-expansion-panel>
    </mat-accordion> 

</ion-content>
       