h3{
    text-align: center;
    color:#66CBEC;
}
.textoControlesParrafo{
    text-align: center;
    width:90%;
    margin: 5%;
}
/* ion-content{
    width:90%!important;
   margin-left:5%!important;
} */
mat-accordion{
    width:90%!important;
    margin-left:5%;
}
mat-expansion-panel{
    margin-bottom:10px!important;
}
mat-panel-title{
    color:#66CBEC;
    font-weight:1.3em;
}