<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button slot="start"></ion-back-button> -->
      <ion-icon name="arrow-back" slot="start" (click)="goToBack()" class="iconoback">volver</ion-icon>
    </ion-buttons>
    <ion-title>Volver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides *ngIf="dataDoctor">
    <ion-slide
      style="background-image:url({{SERVERImage}}{{dataDoctor.professionalId}}.png); background-repeat: no-repeat; background-size:cover; height: 100vh;"
      (error)="errorHandler($event)">
      <ion-row>
        <ion-col size="6">
          <h1>En Espera...</h1>
        </ion-col>
        <ion-col size="6"></ion-col>
        <ion-col size="6">
          <p>El doctor <b>{{dataDoctor.professionalFullName}}</b> estará contigo en breves momentos</p>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>
</ion-content>