
<ion-content padding>
  <h4>Ingresar como invitado</h4>
  <p class="textoModalInvitado"> Para continuar, debes ingresar tu nombre y una fecha probable de concepción</p>

  <ion-list lines="none" padding>
      <ion-item>
        <ion-label position="floating">Ingresa un nombre</ion-label>
        <ion-input type="text" #nombre></ion-input>
      </ion-item>
    
    <ion-item >
      <ion-label position="floating">Fecha de concepción</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"  min="{{fechaMin}}" max="{{fechaMax}}" pickerFormat="DD MM YYYY"  monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, set, oct, nov, dic" #fechaManual (ionChange)="infoLista(nombre.value)"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-button  size="block" color="rosado" (click)="saveDate(nombre , fechaManual)">
    Ingresar
  </ion-button>


</ion-content>
  

 