.popoverStyle .popover-content{
        top:0!important;
}
ion-content{
    height: auto;
    /* padding-bottom:10px; */
}
p{
    text-align: center;
    font-size:.6em;
    /* color:grey; */
    }
h4{
    width:100%;
    text-align: center;
    color:#FFA28C;
    margin-top:0!important;
}
ion-label{
    color:grey!important;
}
ion-button{
    padding-left:20px;
    padding-right:20px;
}
.textoModalInvitado{
    font-size:.9em;
}
ion-list{
    padding:0;
}