.popoverStyle .popover-content{
        top:0!important;
}
ion-content{
    height: auto;
    --border-radius:30px!important;
    --background: #B9CCED!important;
}
p{
    text-align: center;
    font-size:.6em;
    }
.containerName{
    width: 100%;
    margin:0!important;
    padding:0!important;
    h5{
        width:100%;
        text-align: center;
        color:#7A57D1;
        padding:10px;
        width: 100%;
        margin-top:0!important;
    }
}
.item-native{
    background: transparent!important;
}
.list-md{
    background: transparent!important;
}
ion-item{
    --background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin-bottom:5px;
}
ion-label{
/*     background: #fff!important; */
    color:#fff!important;
}
ion-button{
    padding-left:20px;
    padding-right:20px;
}
.textoModalInvitado{
    font-size:.9em;
    color:#fff;
}
ion-list{
    padding:0;
}
.buttonPregnancy{
    --background: #44D7B6!important;
}