h3{
    width:80%;
    margin-left: 10%;
    text-align: center;
    color:#66CBEC;
}
.parrafoRecalculo{
    color:#9B9B9B;
    text-align: center;
    width:85%;
    margin-left: 7.5%;
    margin-top:-30px;
}
ion-button{
    --background: #66CBEC;
}
mat-icon-button{
    color:#66CBEC!important;
}