<ion-content>
  <div  class="containerImagen">
    <iframe
    id="embedded-human"
    frameBorder="0"
    width="450"
    height="400"
    allowFullScreen="true"
    src="https://human.biodigital.com/viewer/?be=2d8K&ui-info=false&ui-search=false&ui-reset=true&ui-fullscreen=true&ui-nav=false&ui-tools=false&ui-help=false&ui-chapter-list=false&ui-label-list=true&ui-anatomy-descriptions=false&disable-scroll=false&camera=-19.845,-20.513,-7.011,2.253,-21.3,1.873,-0.152,0.986,-0.061&uaid=4uyY2">
  </iframe>
  </div>
</ion-content>