ion-content {
    --background-color: #F3F6F6 !important;
}

.parrafoFinanciador {
    color: #062F51;
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.2em;
    font-weight: 300;
    padding-top: 1em;
    width: 90%;
    margin-left: 5%;
}

.seguroList {
    width: 90% !important;
    margin-left: 5% !important;
}

.evaluate {
    /*     background-color: #fff!important; */
    width: 90%;
    margin-left: 5%;
    border: none !important;
    border-bottom: .5px solid #D8D8D8 !important;
    height: auto;

    p {
        color: #00B6A3;
        font-size: 1.2em;
        font-weight: 400;
        margin-top: 8px;
        text-transform: capitalize;
    }
}

.item-md,
.item-ios {
    color: #9B9B9B;
    font-size: 1em;
    background: none;
    // border-bottom: 1px solid #979797;
}

.button.segment-activated {
    border-bottom: 1px solid #979797;
}

.item-md-light,
.item-divider-md-light,
.item-ios-light,
.item-divider-ios-light {
    background-color: #fff;
}

.paymenyquestion {
    margin-top: 3em;
}

.tiny {
    font-size: .9em;
}

.cajagris {
    background-color: #9B9B9B;
    height: 100% !important;
}

.pagoEfectivo {
    color: #9B9B9B;
    font-size: 1em;
    font-style: italic;
    margin-bottom: 5em;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 1em;
}

.tituloPagos {
    color: #062F51;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 10px !important;
    font-size: 1.2em;
    padding-top: 1em;
    font-weight: 200;
}

.tituloMetodos {
    color: #9B9B9B;
    padding-top: 1em;
    font-weight: 300;
    text-align: center;
    margin-top: 0 !important;
}

/* .container-gris {
    background-color: #F3F6F6;
    height: 100%;
} */
ion-content {
    --background: #F3F6F6;
}

.precio {
    margin-right: 20px;
    color: #062F51;
    margin-bottom: 3em;
    font-size: 1.1em;
    font-weight: 500;
}

.list-ios>.item-block:last-child {
    border-bottom: none;
}

.item-md.item-block .item-inner {
    margin-bottom: 5px;
}

.item-md {
    margin-bottom: 5px;
}

.list-md .item-block .item-inner,
.item-md.item-block .item-inner {
    border-bottom: none;
}

.botonAccept {
    height: 120px !important;
    /* margin-top:-10px; */
    width: 90%;
    margin-left: 5%;
}

.segment-md .segment-button {
    border-bottom: none;
}

.segment-md .segment-button.activated,
.segment-md .segment-button.segment-activated {
    color: #00B6A3;
    border-bottom: 1px solid #00B6A3;
}

.nombreDoctor {
    color: #00B6A3;
    font-size: 1.3em;
    text-align: right !important;
    margin-right: 20px;
}

.blue {
    color: #979797;
    font-weight: 600;
    text-align: right;
    margin-right: 20px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

ion-label {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

img {
    width: 100px;
    border-radius: 15px;
    margin-left: calc(50% - 50px);
}

.resumen {
    padding-bottom: 1em;
    // background-color: #fff;
}

.centrar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    .izquierda {
        color: #062F51;
        margin-left: 20px;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
}

.containerTextoPago {
    background: #007198;

    h3 {
        color: #fff !important;
        font-weight: 400;
        padding: 10px 0;
        margin-top: 0;
        font-size: 1.1em;
        text-align: center;
    }
}

.sedeContainer {
    text-align: right;
}

.sede {
    color: #062F51;
    font-size: 1.4em;
    margin-right: 20px;
}

.containerResumen {
    margin-top: 25px;
    margin-bottom: 25px;
}

.altas {
    text-transform: capitalize;
}

.grande {
    font-size: 1.3em;
    color: #00B6A3;
}

.CardDatosServicio {
    border-top-right-radius: 25px;
    background: #fff;
}

.titleCardPago {
    color: #062F51;
    padding: .3em 0;
    text-align: center;
    font-size: 1em;
    margin-top: 16px;
    margin-bottom: -15px;
}

.linea {
    border-style: double;
    border-color: #007198;
    border: 1px;
    margin-top: 10px !important;
}

.iconosImagenes {
    text-align: center;
    width: 60px;
    height: auto;
}

.botonTarjeta,
.botonEfectivo {
    text-align: center !important;
}