<ion-content padding id="fondo">
  <div class="contenedorImagen">
    <img src="assets/imgs/logoMamapp.png" alt="">
  </div>
  <div class="contenedorBotones">
      <!-- <p class="tituloLogin">Ingresa tu dni y contraseña para poder iniciar sesión</p> -->
      <span>{{ msgError | json }}</span>

          <ion-list>
            <p class="parrafoRegitro">Si estas registrada ya en el app de booking, puedes utilizar el mismo correo y contraseña</p>
              <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email"
                              #email></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password"
                             #password></ion-input>
              </ion-item>
              <div class="contenedorBotonIngresar">
                <ion-button
                        size="full"
                        class="buttonIngresar"
                        submit
                        (click)="doSignIn(email.value , password.value)">
                              Ingresar
                </ion-button>
              </div>
          </ion-list>
        </div>
            <ion-row padding>
              <ion-col size="3"></ion-col>
                <ion-col size="6">
                    <ion-button
                            size="block"
                            (click)="goToRegister()"
                            small
                            class="botonRegister">
                          Registrarme
                    </ion-button>
                </ion-col>
                <ion-col size="6">
              <!--     <ion-button
                          size="block"
                          (click)="goToRegisterFacebook()"
                          small
                          class="botonFacebook">
                          facebook
                  </ion-button> -->
              </ion-col>
              <ion-col size="12">
                <ion-button
                        (click)="goToRecovery()"
                        fill="clear"
                        class="contraseñaolvidada">
                      Olvidé la contraseña
                </ion-button>
            </ion-col>
                 <ion-col size="12">
                    <ion-button
                            block
                            (click)="goTohome()"
                            small
                            class="invitado">
                            Ingresar como Invitado
                    </ion-button>
                </ion-col>
            </ion-row>
</ion-content>
