<ion-content class="ion-padding" id="fondo">
  <div class="contenedorImagen">
    <img src="assets/imgs/logoMamapp.png" alt="">
  </div>
  <div class="contenedorBotones">
      <!-- <p class="tituloLogin">Ingresa tu dni y contraseña para poder iniciar sesión</p> -->
      <span>{{ msgError | json }}</span>

          <ion-list>
            <p class="parrafoRegitro">Si estas registrada ya en el app de booking, puedes utilizar el mismo correo y contraseña</p>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Tipo documento</ion-label>
                    <ion-select placeholder="Selecciona una opción" (ionChange)="selectDocument($event)">
                      <ion-select-option *ngFor="let d of documents | slice:0:3" [value]="d">{{d.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">Nº documento</ion-label>
                    <ion-input type="document"
                                #document></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                    <ion-label position="floating">Contraseña</ion-label>
                    <ion-input type="password"
                               #password></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
              <div class="contenedorBotonIngresar">
                <ion-button
                        size="full"
                        class="buttonIngresar"
                        submit
                        (click)="doSignIn(document.value , password.value)">
                              Ingresar
                </ion-button>
              </div>
          </ion-list>
        </div>
            <ion-row class="ion-padding">
              <ion-col size="3"></ion-col>
                <ion-col size="6">
                    <ion-button
                            size="block"
                            (click)="goToRegister()"
                            small
                            class="botonRegister">
                          Registrarme
                    </ion-button>
                </ion-col>
                <ion-col size="6">
              <!--     <ion-button
                          size="block"
                          (click)="goToRegisterFacebook()"
                          small
                          class="botonFacebook">
                          facebook
                  </ion-button> -->
              </ion-col>
              <ion-col size="12">
                <ion-button
                        (click)="goToRecovery()"
                        fill="clear"
                        class="contraseñaolvidada">
                      Olvidé la contraseña
                </ion-button>
            </ion-col>
            </ion-row>
</ion-content>
