
  <p class="datosControl">14 semanas</p>
  <p class="datosControl">altura uterina: 20cm.</p>
  <p class="datosControl">Presión arterial: 120/90</p>
  <p class="datosControl">temperatura: 36º</p> 
  <div class="containerRecomendaciones">
    <p class="nombrePaciente">{{name}} el doctor te recomienda</p>
    <p>
      Debe evitar las bebidas alcohólicas y el consumo de otras drogas por ser perjudiciales para usted y especialmente para su hijo. Igualmente, el tabaco es nocivo para usted y para el feto, por lo que es recomendable que no fume durante todo el embarazo. 
    </p>
  </div>
