.datosControl{
    color:grey;
    text-align: right;
    margin-right:10px;
    padding-right:10px;
}
.containerRecomendaciones{
    border:1px solid royalblue;
    margin:10px!important;
    p{
        color:grey;
        text-align: center;
        margin:10px;
    }
    .nombrePaciente{
        color:#3a3939;
        font-weight: 400;
        font-size:1.1em;
    }
}