<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Citas Pendientes</ion-title>
    <!--  <ion-buttons slot="secondary">
      <ion-button slot="end"
                  clear
                  (click)="openVideo(date)"
                  color="danger"
                  class="animated bounceInLeft">
            <ion-icon name="videocam"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let date of dates">
    <ion-card class="tarjetaResumen">
      <ion-row>
        <ion-col size="4">
          <ion-avatar>
            <img src="http://dappapache02.eastus.cloudapp.azure.com:4200/img/professionals/{{date.professionalId}}.png"
              alt="" (error)="errorHandler($event)">
          </ion-avatar>
        </ion-col>
        <ion-col size="8" (click)="goToDetailDate(date)">
          <h3>{{date.professionalName}} {{date.professionalLastName1}}
            {{date.professionalLastName2}}</h3>
          <p class="especialidad">{{date.basicServiceDescription}}</p>
          <p class="sede">{{date.centerName}}</p>
          <hr>
          <p class="diaCita">{{date.appointmentDateTime | date:'longDate':'':'es'}}</p>
          <p class="hourCita">{{date.appointmentDateTime | date:'h:mm a'}}</p>
        </ion-col>

        <ion-col size="10" *ngIf="date.provisionId === 845337">
          <p class="textotele">cita solo para teleconsulta</p>
        </ion-col>
        <ion-col size="2" *ngIf="date.provisionId === 845337">
          <ion-button fill="clear" color="danger" class="animated bounceInLeft">
            <ion-icon name="videocam"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-card>
  </div>
  <p class="sincitasPendientes" *ngIf="dates.length < 1">No tienes citas pendientes</p>
</ion-content>