#content {
    position: relative;
    margin-top: 15%;
    background-color: white;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
    padding-top: 2%;
}

#profile-info {
    position: absolute;
    top: -85px;
    width: 100%;
    z-index: 2;
    height: auto;
    text-align: center;
}

#profile-description {
    font-size: 15px;
    color: #888;
}

#profile-image {
    display: block;
    border-radius: 20px;
    width: 140px;
    height: 140px;
    margin: 30px auto 0;
    text-align: center;
}

.nombreDoctor {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #888;
    font-weight: 600;
    width: 80%;
    margin-left: 10%;
    font-size: 1.3em;
    text-transform: capitalize;
}

ion-label {
    color: #4A4A4A;
    font-size: .9em;
    font-weight: 500;
}

.blue {
    color: #888;
    text-align: left;
    font-size: .9em;
    font-weight: 400;
    text-transform: capitalize;
}

.fa {
    color: #062F51;
}

ion-navbar ion-icon {
    color: #fff;
}

ion-icon {
    color: #A7A9AB;
    font-size: .7em;
}

.toolbar-md-primary .bar-button-default-md {
    color: #fff !important;
}

.toolbar-title,
.toolbar-title-md {
    font-size: 1.3em !important;
    // text-align: center;
    font-weight: 400;
}

.item-inner {
    margin-left: 5px !important;
}

.heightNoventa {
    margin-right: 0 !important;
}

.segment-md-secondary {
    color: #fff !important;
}

ion-segment-button .segment-activated {
    color: #fff !important;
}

ion-button {
    height: 45px;
}

.teleconsultaText {
    color: #062F51;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-weight: 400;
    font-size: .9em;
}

.iconSize {
    font-size: 30px;
}
.text-center{
    text-align: center;
}
.centerQr{
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paddingbottom{
 padding-bottom:20px;
}