<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Detalle Cita</ion-title>
        <ion-buttons slot="secondary">
            <ion-button *ngIf="dataArmada.provisionId === 845337" fill="clear" (click)="getpermissions()" color="danger"
                class="animated bounceInLeft">
                <ion-icon name="videocam" color="danger" class="iconSize"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="padding">
    <ion-list>

        <img id="profile-image" src="{{apiEndpoint}}{{dataArmada.professionalId}}.png" (error)="errorHandler($event)" alt="">
        <h3 class="nombreDoctor text-center" >{{ dataArmada.professionalLastName1 }}
            {{ dataArmada.professionalLastName2 }} {{ dataArmada.professionalName }} </h3>

        <ion-item>
            <ion-icon item-start><i class="fa fa-hospital-o" aria-hidden="true"></i></ion-icon>
            <ion-label class="heightNoventa">Sede:</ion-label>
            <ion-label class="blue"> {{ dataArmada.centerName | lowercase }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon item-start><i class="fa fa-heartbeat" aria-hidden="true"></i></ion-icon>
            <ion-label class="heightNoventa">Especialidad:</ion-label>
            <ion-label class="blue"> {{ dataArmada.basicServiceDescription | lowercase }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon item-start><i class="fa fa-calendar-check-o" aria-hidden="true"></i></ion-icon>
            <ion-label class="heightNoventa">Fecha:</ion-label>
            <ion-label class="blue"> {{ dataArmada.appointmentDateTime | date:'EEEE d , MMMM ' : 'es' }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon item-start><i class="fa fa-clock-o" aria-hidden="true"></i></ion-icon>
            <ion-label class="heightNoventa">Hora:</ion-label>
            <ion-label class="blue"> {{ dataArmada.appointmentDateTime | date: 'HH:mm' }}</ion-label>
        </ion-item>
        <!--   <ion-item>
            <ion-icon item-start><i class="fa fa-universal-access" aria-hidden="true"></i></ion-icon>
            <ion-label class="heightNoventa">Seguro:</ion-label>
            <ion-label class="blue"> {{ dataArmada.planDescription | lowercase }}</ion-label>
        </ion-item> -->
    </ion-list>
    <div class="centerQr" *ngIf="dataArmada.pagado !== 'no'">
        <qr-code value="{{dataArmada.appointmentId}}" [size]="300"></qr-code> 
    </div>
    <ion-row class="padding" *ngIf="dataArmada.pagado === 'no'">
        <ion-col size="6">
            <ion-button expand="full" color="warning" (click)='desactivateTask()'>ELIMINAR</ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button (click)="back()" color="primary" expand="full">
                VOLVER
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row class="padding" *ngIf="dataArmada.pagado === 'yes'">
        <ion-col size="8">
            <ion-button expand="full" color="warning">CITA NO CANCELABLE</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button (click)="back()" color="primary" expand="full">
                VOLVER
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-col *ngIf="dataArmada.pagado === 'yes'">
        <p class="teleconsultaText">
            Recuerda conectarte unos minutos antes de tu consulta, dandole click a la cámara , luego entraras a espera
            unos segundos.
        </p>
    </ion-col>


</ion-content>