<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Detalle Cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <img id="profile-image" src="http://dappapache02.eastus.cloudapp.azure.com:4200/img/professionals/{{dataArmada.professional.id}}.png">
        <h3 class="nombreDoctor" text-center>{{ dataArmada.professional.fullName }} </h3>

        <ion-item>
            <ion-icon item-start><i class="fa fa-hospital-o" aria-hidden="true"></i></ion-icon>
            <ion-label class="heightNoventa">Sede:</ion-label>
            <ion-label class="blue"> {{ dataArmada.service.center.name | lowercase }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon item-start><i class="fa fa-heartbeat" aria-hidden="true"></i></ion-icon>
            <ion-label class="heightNoventa">Especialidad:</ion-label>
            <ion-label class="blue"> {{ dataArmada.service.basicService.description | lowercase }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon item-start><i class="fa fa-calendar-check-o" aria-hidden="true"></i></ion-icon>
            <ion-label class="heightNoventa">Fecha:</ion-label>
            <ion-label class="blue"> {{ dataArmada.appointmentDateTime | date:'EEEE d , MMMM ' : 'es' }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon item-start><i class="fa fa-clock-o" aria-hidden="true"></i></ion-icon>
            <ion-label class="heightNoventa">Hora:</ion-label>
            <ion-label class="blue"> {{ dataArmada.appointmentDateTime | date: 'HH:mm' }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon item-start><i class="fa fa-universal-access" aria-hidden="true"></i></ion-icon>
            <ion-label class="heightNoventa">Seguro:</ion-label>
            <ion-label class="blue"> {{ dataArmada.plan.description | lowercase }}</ion-label>
        </ion-item>
    </ion-list>
        
            <ion-row padding>
                <ion-col >
                    <ion-button color="warning" 
                                (click)='desactivateTask(date)'
                                expand="full">ELIMINAR</ion-button>
                </ion-col>
                <ion-col >
                    <ion-button  
                                (click)="dismiss()" 
                                color="primary"
                                expand="full">VOLVER</ion-button>
                </ion-col>
            </ion-row>
        

</ion-content>
