
<ion-content>
  <!-- <div class="contenedorImagen">
      <img src="assets/imgs/logoCuida.png" alt="">
    </div> -->
      <!-- <p class="textofacil">es muy fácil y rápido</p>  -->
      <ion-slides #slides [options]="slideOpts">
        <ion-slide style="background-image: url('assets/imgs/slides/uno.png'); background-repeat: no-repeat; background-size: cover; height: 100%!important;">
          <ion-row>
            <ion-col size="12" class="logoAviva">
                <img src="assets/imgs/logoMamapp.png" alt="">
            </ion-col>
            <ion-col size="12">
              <p class="tituloSlideOne">1. CONSEJOS UTILES</p>
            </ion-col>
            <ion-col size="12">
              <p class="parrafoSlideOne">consejos utiles semana a semana que te ayudarán en este dulce proceso</p>
            </ion-col>
            <ion-col size="7"></ion-col>
            <ion-col size="5">
              <ion-button (click)="nextSlide()" class="continuar" color="morado">
                <ion-label>CONTINUAR</ion-label>
              </ion-button>
            </ion-col> 
          </ion-row>
         
        </ion-slide>
        <ion-slide style="background-image: url('assets/imgs/slides/uno.png'); background-repeat: no-repeat; background-size: cover; height: 100%!important;">
              <ion-row>
                <ion-col size="12" class="logoAviva">
                  <img src="assets/imgs/logoMamapp.png" alt="">
                </ion-col>
                <ion-col size="12">
                    <p class="tituloSlideOne">2. CONTROLES Y RESERVAS</p>
                </ion-col>
                <ion-col size="12">
                    <p class="parrafoSlideOne">Resultados de los controles en la palma de la mano, ademas puedes reservar tus citas en 3 simples pasos.</p>
                </ion-col>
                <ion-col size="7"></ion-col>
                <ion-col size="5">
                  <ion-button (click)="nextSlide()" class="continuar" color="morado">
                    <ion-label>CONTINUAR</ion-label>
                  </ion-button>
                </ion-col> 
              </ion-row>
           
        </ion-slide>
        <ion-slide style="background-image: url('assets/imgs/slides/uno.png'); background-repeat: no-repeat; background-size: cover; height: 100%!important;">
          <ion-row>
            <ion-col size="12" class="logoAviva">
              <img src="assets/imgs/logoMamapp.png" alt="">
            </ion-col>
            <ion-col size="12">
                <p class="tituloSlideOne">3. COACH</p>
            </ion-col>
            <ion-col size="12">
                <p class="parrafoSlideOne">Te acompañamos en este dulce proceso de la mano de un coach que te guiará y brindará los tips necesarios.</p>
            </ion-col>
            <ion-col size="7"></ion-col>
            <ion-col size="5">
              <ion-button (click)="goToLogin()" class="continuar" color="tertiary">
                <ion-label>INICIAR</ion-label>
              </ion-button>
            </ion-col> 
          </ion-row>
        </ion-slide>
      </ion-slides>
      <!-- <div class="containerBotones">
        <ion-row>
          <ion-col size="4">
            <ion-button outline small color="rosado" (click)="goToLogin()" class="botonLogin"> login</ion-button>
          </ion-col>
          <ion-col size="4">
  
          </ion-col>
          <ion-col size="4" class="containerButtonNext">
            <ion-button fill="clear" small class="buttonNext" (click)="nextSlide()">Siguiente</ion-button>
          </ion-col>
        </ion-row>
      </div> -->

</ion-content>
