<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
      </ion-buttons>
    <ion-title>Controles</ion-title>
    <ion-buttons slot="secondary">
      <!--<ion-button color="secondary"
                  [routerLink]="'/chat'"
                  color="light">
        <ion-icon slot="end" name="chatbubbles"></ion-icon>
      </ion-button>-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--   <div *ngIf="sigIn !== 'completo' || status === 'novalidado' || status === 'novalidado'" class="containerSinControles" style="background:url(assets/imgs/sinControles.svg);" >
      <ion-row>
        <ion-col size="3" class="containerDatosControl">
          <p class="numeroDeSemana">2</p>
          <p class="semanaText">Control</p>
        </ion-col>
        <ion-col size="9">
          <p class="datosControl">14 semanas</p>
          <p class="datosControl">altura uterina: 20cm.</p>
          <p class="datosControl">Presión arterial: 120/90</p>
          <p class="datosControl">temperatura: 36º</p> 
          <p class="verMas" (click)="openModal($event)">ver más detalles</p>
        </ion-col>
      </ion-row>
  </div> -->

  <ion-card *ngFor="let encuentro of encuentros; let i = index"
            (click)="goToDetail(encuentro)">
    <ion-row>
      <ion-col size="4">
        <div class="iconoReceta">
          <p class="dia">{{encuentro.fecha_encuentro | date:'dd' }} </p>
          <p class="mes">{{encuentro.fecha_encuentro | date:'MMMM'}}</p>
        </div>
      </ion-col>
      <ion-col size="8">
        <p class="especialidad">Especialidad</p>
        <p class="resultado">{{encuentro.servicio}}</p>
        <p class="especialidad">Doctor:</p>
        <p class="resultado">{{encuentro.nombre}} {{encuentro.apellido1}} {{encuentro.apellido2}}</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <p class="textoMensaje" *ngIf="message === true && user === 'user' && status === 'validado'" >Aún no tienes controles disponibles para mostrar”</p> 
  <p class="textoMensaje" *ngIf="message === true && user === 'user' && status === 'novalidado'" >Para mostrar tus controles tienes que esta validado, podrás hacerlo desde cualquier ventanilla en admisión</p> 
  <p class="textoMensaje" *ngIf="message === true && user === 'nouser'">Inicia sesión para ver tus controles</p> 
<!--   <ion-fab
          vertical="bottom"
          horizontal="end"
          slot="fixed"
          
          (click)="createDate()">
          <ion-fab-button color="secondary">
            <ion-icon name="add"></ion-icon>
           
          </ion-fab-button>
  </ion-fab> -->
  <ion-row class="bottom">
    <ion-col size="6">
      <ion-button (click)="createDateTele()"
      shape="round"
      expand="block"
      color="secondary">
      <ion-icon name="phone-portrait"></ion-icon>
      <ion-label>Reserva teleconsulta</ion-label> 
</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="createDate()"
              shape="round"
              expand="block"
              color="warning">
              <ion-label>Reserva Consulta</ion-label>
</ion-button>    
    </ion-col>
  </ion-row>

  

</ion-content>
