<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="small">Controles</ion-title>
    <ion-buttons slot="secondary">
      <!--<ion-button color="secondary"
                  [routerLink]="'/chat'"
                  color="light">
        <ion-icon slot="end" name="chatbubbles"></ion-icon>
      </ion-button>-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6" *ngFor="let encuentro of encuentros; let i = index" (click)="goToDetail(encuentro)">
      <ion-card>
        <ion-row>
          <ion-col size="4">
            <div class="iconoReceta">
              <p class="dia">{{encuentro.fecha_encuentro | date:'dd' }} </p>
              <p class="mes">{{encuentro.fecha_encuentro | date:'MMMM'}}</p>
            </div>
          </ion-col>
          <ion-col size="8">
            <p class="especialidad">Especialidad</p>
            <p class="resultado">{{encuentro.servicio}}</p>
            <p class="especialidad">Doctor:</p>
            <p class="resultado">{{encuentro.nombre}} {{encuentro.apellido1}} {{encuentro.apellido2}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

  <p class="textoMensaje" *ngIf="message === true && user === 'user' && status === 'validado'">Aún no tienes controles
    disponibles para mostrar”</p>
  <p class="textoMensaje" *ngIf="message === true && user === 'user' && status === 'novalidado'">Para mostrar tus controles tienes que esta validado, podrás hacerlo desde cualquier ventanilla en admisión<p>
  <p class="textoMensaje" *ngIf="message === true && user === 'nouser'">Inicia sesión para ver tus controles</p>
  <ion-row class="bottom">
    <p>¿Quieres reservar una consulta?... <br>tienes estas tres opciones</p>
    <ion-col size="6">
      <ion-button (click)="createDateTele()" shape="round" expand="block" color="secondary" size="small">
        <ion-label>Teleconsulta</ion-label>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="createDatePediatric()" shape="round" expand="block" color="tertiary" size="small">
        <ion-label>Consulta pre-natal</ion-label>
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button (click)="createDate()" shape="round" expand="block" color="primary" size="small">
        <ion-label>Consulta Externa</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>



</ion-content>